body {
  background-image: url("resources/app\ backgrounf\ 2.png_large");
  background-size: cover;
  text-align: center;
  position: relative;
}

#box {
  background-color: rgb(33, 30, 30);
  width: 50%;
  height: 150px;
  padding: 10px;
  margin: auto;
  box-shadow: 10px 10px;
  border-radius: 14px;
  text-align: center;
}

button {
  background-color: crimson;
  font-size: medium;
  border-radius: 50px;

}

input {
  background-color: white;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border-style: solid;
  border-color: black;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to bottom left, #ffffff, #ff0000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



h2 {
  font-size: 20px;
  font-style: italic;
  color: ghostwhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box2 {
  position: relative;
  background-color: rgb(33, 30, 30);
  width: 50%;
  height: auto;
  padding: 10px;
  margin: auto;
  box-shadow: 10px 10px rgb(0, 0, 0);
  border-radius: 14px;
  
}

ul {
  color: ghostwhite;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

/* POP UP */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(33, 30, 30);
  padding: 20px;
  border: 1px solid black;
  z-index: 9999;
  color: ghostwhite;
}